
@{
    ViewData["Title"] = "Products";

}
<h2>Products</h2>
<hr />

@model SalesSystem.Models.ProductViewModel

@{
    var disabled = (Model.Id == null) ? "disabled" : string.Empty;
}

<form asp-controller="Product" asp-action="Registration" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <div class="form-group">


        <div class="col-4">
            <label>Description</label>
            <input type="text" asp-for="Description" value="@Model.Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label>Quantity</label>
            <input type="number" asp-for="Quantity" value="@Model.Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>


        <div class="col-4">
            <label>Value</label>
            <input type="text" asp-for="Value" value="@Model.Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label>Category</label>
          <select asp-for="CategoryId" class="form-control input-group-lg" asp-items="@Model.CategoriesList"></select> 
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

     
        <br />
        <div class="col">
            <button type="button" class="btn btn-info" onclick="New()">New Product</button>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning" onclick="AllProducts()">All Products</button>
            <button type="button" class="btn btn-danger" @disabled onclick="Delete(@Model.Id)">Delete Product</button>
        </div>
    </div>




</form>
<script>

    function New() {
        Request("Registration") ;
    }

    function AllProducts() {
        Request("");

    }


    function Delete(Id) {
        Request("Delete\\"+Id);

    }

    function Request(request) {
        window.location = window.origin + "\\Product\\"+request;
    }
</script>