
@{
    ViewData["Title"] = "Sales";

}
<h2>Sales</h2>
<hr />

@model SalesSystem.Models.SaleViewModel

@{
    var disabled = (Model.Id == null) ? "disabled" : string.Empty;
}

<form asp-controller="Sale" asp-action="Registration" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <div class="form-group">


        <div class="col-4">
            <label>Date</label>
            <input type="date" asp-for="Date" value="@Model.Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label>Customer</label>
           
            <select asp-for="ClientId" class="form-control input-group-lg" asp-items="@Model.ClientsList"></select>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>


        <div class="col-4">
            <label>Products</label>
       
            <select id="productCbo" onchange="FindProductPrice()" class="form-control input-group-lg" asp-items="@Model.ProductsList"></select>
     
        </div>

        <div class="form-group">

            <div class="col-2">

                <label> Unitary Price</label>
                <input id="unitaryPriceTxt" type="number" class="form-control" disabled />

            </div>

        </div>
      





        <br />
        <div class="col">
            <button type="button" class="btn btn-info" onclick="New()">New Sale</button>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning" onclick="AllSales()">All Sales</button>
            <button type="button" class="btn btn-danger" @disabled onclick="Delete(@Model.Id)">Delete Sale</button>
        </div>
    </div>




</form>
<script>

    function New() {
        Request("Registration") ;
    }

    function AllSales() {
        Request("");

    }


    function Delete(Id) {
        Request("Delete\\"+Id);

    }

    function Request(request) {
        window.location = window.origin + "\\Sale\\"+request;
    }

    function FindProductPrice() {

        var ProductId = document.getElementById("productCbo");
        alert(ProductId.value);
     
    }

</script>