
@{
    ViewData["Title"] = "Sales";

}
<h2>Sales</h2>
<hr />

@model SalesSystem.Models.SaleViewModel

@{
    var disabled = (Model.Id == null) ? "disabled" : string.Empty;
}

<form asp-controller="Sale" asp-action="Registration" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <div class="form-group">

    

            <div class="col-4">
                <label>Date</label>
                <input id="date" type="date" asp-for="Date" value="@Model.Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
       
       

        <div class="col-4">
            <label>Customer</label>
           
            <select asp-for="ClientId" class="form-control input-group-lg" asp-items="@Model.ClientsList"></select>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>


        <div class="col-4">
            <label>Products</label>
       
            <select id="productCbo" onchange="FindProductPrice()" class="form-control input-group-lg" asp-items="@Model.ProductsList"></select>
     
        </div>

        <div class="form-group">

            <div class="col-2">

                <label> Unitary Price</label>
                <input id="unitaryPriceTxt" type="number" class="form-control" disabled />

            </div>

            <div class="col-2">

                <label> Quantity</label>
                <input id="quantityTxt" type="number" class="form-control" value="1" onchange="ToCalculateSubTotal()" />

            </div>

            <div class="col-2">

                <label> Subtotal</label>
                <input id="subTotalTxt" type="number" class="form-control" disabled />

            </div>

            <div class="col-2">

                <br />
                <button type="button" class="btn btn-info" onclick="AddProduct()">Add</button>
                <br />

            </div>

        </div>
      

        <div class="form-group">

            <div class="col-md-12">
                
                <table class="table table-bordered">
                    <thead class="thread-inverse">
                        <tr style="background-color:aquamarine">
                     
                            <th>Product</th>
                            <th>Unitary Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>

                    </thead>
                    <tbody id="gridProducts">

                 
                    </tbody>

                </table>
            </div>

        </div>

        <div class="form-group">
         
            <div class="col-md-3">
                <label>Total</label>

                <input id="totalTxt" asp-for="Total" type="text" value="@Model.Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>


            </div>
        </div>

        <textarea style="display:none" asp-for="JsonProducts" id="JsonProductsTxt" class="col">

</textarea>

        <br />
        <div class="col">
            <button type="button" class="btn btn-info" onclick="New()">New Sale</button>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning" onclick="AllSales()">All Sales</button>
            <button type="button" class="btn btn-danger" @disabled onclick="Delete(@Model.Id)">Delete Sale</button>
        </div>
    </div>




</form>
<script>

    function formatValue(num) {
        return parseFloat(Math.round(num * 100) / 100).toFixed(2).replace(",", ".");
    }
   

    var Itens = new Object();
    Itens.Products = new Array();
    var gridProducts = document.getElementById("gridProducts");
    

    function New() {
        Request("Registration") ;
    }

    function AllSales() {
        Request("");

    }


    function Delete(Id) {
        Request("Delete\\"+Id);

    }

    function Request(request) {
        window.location = window.origin + "\\Sale\\"+request;
    }

    function FindProductPrice() {

        var ProductId = document.getElementById("productCbo");
        var url = `/ReadProductValue/${ProductId.value}`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
           

                document.getElementById("unitaryPriceTxt").value = xhr.responseText;
                ToCalculateSubTotal();
            }
        }
        xhr.open('GET', url, false);
        xhr.send(null);
    }

    function ToCalculateSubTotal() {
        var quantity = document.getElementById("quantityTxt").value;
        var price = document.getElementById("unitaryPriceTxt").value
        var subtotal = quantity * price;
        document.getElementById("subTotalTxt").value = subtotal;
     

    }

    function AddProduct() {

        var ProductId = document.getElementById("productCbo");
        var Quantity = document.getElementById("quantityTxt").value;
        var UnitaryValue = document.getElementById("unitaryPriceTxt").value;
        var Total = document.getElementById("subTotalTxt").value;

  

        Itens.Products.push({
     
            "ProductId": ProductId.value,
            "Quantity": Quantity,
            "UnitaryValue": formatValue(UnitaryValue),
            "TotalValue": formatValue(Total)
        });

        console.log(Itens.Products);


        document.getElementById("JsonProductsTxt").value = JSON.stringify(Itens.Products);
 
       
        var GridLine = "<tr id'" + ProductId.value + "'>" +
            " <td>" + ProductId.options[ProductId.selectedIndex].text + "</td>" +
            "<td>" + Quantity + "</td>" +
            "<td>" + UnitaryValue + "</td>" +
            "<td>" + Total + "</td>";
       

        gridProducts.innerHTML += GridLine;
   

        var AllTotal = Number(document.getElementById("totalTxt").value.toString().replace(",", ".")) + Number(Total);

        console.log(AllTotal);

        document.getElementById("totalTxt").value = AllTotal;



    }

</script>