

<h1>Teste</h1>
<canvas id="myChart" width="400" height="400"></canvas>
@section Scripts{

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js">

    
</script>


<script>

    $(document)
        .ready(function () {
            console.log(@Html.Raw(@ViewBag.Labels));
            console.log(@Html.Raw(@ViewBag.Values));

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [@Html.Raw(@ViewBag.Labels)],
                    datasets: [{
                        label: '# of Votes',
                        data: [@Html.Raw(@ViewBag.Values)],
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(2, 180, 0, 1)'
                        ],
                        borderColor: [
                      
                            'rgba(54, 162, 235, 1)',
                            'rgba(2, 180, 0, 1)'
                    
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        });



</script>

}








